.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.Header {
    margin: 0;
    height: 16%;
    background-color: rgba(53, 53, 55, 1);
    justify-content: space-between;
}
.logoBox{
    margin-left: 3.5%;
    width: 31%;
}
.infoBlock {
    width: 35%;
    justify-content: space-between;
}
.infoBlock button {
    width: 22%;
    height: 33px;
    border: rgba(193, 138, 102, 0.96) 3px solid;
    border-radius: 10px;
    background-color: rgba(53, 53, 55, 1);
    color: rgba(193, 138, 102, 0.96);
    font-weight: bold;
    transition: 500ms;
    font-size: 1.2vw;
    cursor: pointer;
}
.infoBlock button:hover {
    background-color: rgba(193, 138, 102, 0.96);
    color: rgb(255, 255, 255);
}